{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- we are accesing the data from the database model -->
    <h1>{{ item.meal }}</h1> <!-- when we click on a link-->
    <p>{{ item.description }}</p>
    <p>{{ item.price }}</p>
    <p>status: {{ item.status }}</p>

            {% for status in statuses %}
                {% if status.0 == item.status %}
                    {{ status.1 }}   
                {% endif %}
            {% endfor %}  

</div>    

{% endblock content %}    

